<style type="text/css">
  <!--
    /* CSS used here will be applied after bootstrap.css */
    .navbar
    {
      background-image: url('images/Gaston_Lagaffe.png');
      background-position: right;
      /* background-position: top; */
      background-repeat: no-repeat;
      height: 300px;
    }
    .sidebar
    {
      margin-top: 151px;
    }
    .navbar-toggle {
      background-color: #959595;
    }
  -->
</style>

<!-- jQuery -->
<script src="bootstrap/bower_components/jquery/dist/jquery.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

<!-- Metis Menu Plugin JavaScript -->
<script src="bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<!-- DataTables JavaScript -->
<script src="bootstrap/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="bootstrap/bower_components/datatables-plugins/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="bootstrap/dist/js/sb-admin-2.js"></script>

<script src="bootstrap/bower_components/raphael/raphael-min.js"></script>
<script src="bootstrap/bower_components/morrisjs/morris.min.js"></script>


<!-- Page-Level Demo Scripts - Tables - Use for reference -->
<script>
  $(document).ready(function() {
      $('#dataTables-example').DataTable({
              responsive: true
    });
  });
</script>
